Import necessary libraries.

In [13]:
import glob
import os
import pandas as pd
import numpy as np
import datetime

First, merge/concatenate all datasets into one. Here, each daily dataset is not necessarily ordered by date, because of how they are stored in the "downloads" folder when initially downloaded with the dataset automation bot script. We also save the initial df into a csv file a contcatenated "raw" DataFrame (df).

Here, the current city name is just used as a placeholder. By specifying the correct file path, the datasets of the desired city can be used.

In [14]:
# Merge/Concatenate all datasets into one, specifying the correct location of all csv files for that city
df = pd.concat(map(pd.read_csv, glob.glob(os.path.join(r'C:\Users\I539797\Documents\Thesis\Datasets\London', "*.csv"))))

In [15]:
# Save concatenated raw datasets into one csv file
concat_df = df.to_csv('concat_london.csv')

This is what the raw df looks like. We already get a hint of the necessity of having a multi-index structure: there are multiple Destination Movement IDs for one single Origin Movement ID and Date (which for now is called "Date Range").

This is because the travel times data is extracted from the center-most point/zone of each city to every other point/zone available at a given date.

The number of available points/zones varies fom date to date, therefore, there is a different amountof rows for each Origin Movement ID or date.

Later we will turn it into a multi-index df, indexed by date.

In [16]:
df.head(10)

,Origin Movement ID,Origin Display Name,Destination Movement ID,Destination Display Name,Date Range,Mean Travel Time (Seconds),Range - Lower Bound Travel Time (Seconds),Range - Upper Bound Travel Time (Seconds)
0,573,"Camden, 00AG (573)",2,"Newham, 00BB (2)","1/3/2016 - 1/3/2016, Every day, Daily Average",1419,1086,1852
1,573,"Camden, 00AG (573)",3,"Newham, 00BB (3)","1/3/2016 - 1/3/2016, Every day, Daily Average",1774,1380,2279
2,573,"Camden, 00AG (573)",4,"Newham, 00BB (4)","1/3/2016 - 1/3/2016, Every day, Daily Average",1583,1192,2100
3,573,"Camden, 00AG (573)",5,"Lambeth, 00AY (5)","1/3/2016 - 1/3/2016, Every day, Daily Average",1115,880,1412
4,573,"Camden, 00AG (573)",6,"Lambeth, 00AY (6)","1/3/2016 - 1/3/2016, Every day, Daily Average",1111,858,1437
5,573,"Camden, 00AG (573)",9,"Southwark, 00BE (9)","1/3/2016 - 1/3/2016, Every day, Daily Average",1534,1218,1931
6,573,"Camden, 00AG (573)",10,"Newham, 00BB (10)","1/3/2016 - 1/3/2016, Every day, Daily Average",1584,1246,2012
7,573,"Camden, 00AG (573)",14,"Redbridge, 00BC (14)","1/3/2016 - 1/3/2016, Every day, Daily Average",2237,1899,2634
8,573,"Camden, 00AG (573)",15,"Wandsworth, 00BJ (15)","1/3/2016 - 1/3/2016, Every day, Daily Average",1996,1624,2453
9,573,"Camden, 00AG (573)",16,"Southwark, 00BE (16)","1/3/2016 - 1/3/2016, Every day, Daily Average",1653,1311,2084

Perform the necessary operations to format the df, simplyfing columns names, dropping unnecessary columns, creating potentially relevant columns and most importantly, indexing and sorting the df by Date.

In [17]:
# Create a numeric index, because the existing index will be replaced by the Date Range later
df['Numeric Index'] = range(len(df))

# Reorder columns
df = df[['Numeric Index',
         'Origin Movement ID',
         'Origin Display Name',
         'Destination Movement ID',
         'Destination Display Name',
         'Date Range',
         'Mean Travel Time (Seconds)',
         'Range - Lower Bound Travel Time (Seconds)',
         'Range - Upper Bound Travel Time (Seconds)',
        ]]


# Reformat date and sort values by date
df['Date Range'] = pd.to_datetime(df['Date Range'].str.split().str[0], format='%m/%d/%Y')
df = df.sort_values('Date Range')


# Renaming the 'Date Range' column to 'Date'
df = df.rename(columns={"Date Range": "Date"})
# Removing sapces and odd character from column names
df = df.rename(columns={"Mean Travel Time (Seconds)": "MeanTravelTimeSeconds"})
df = df.rename(columns={"Numeric Index": "NumericIndex"})
df = df.rename(columns={"Origin Movement ID": "OriginMovementID"})
df = df.rename(columns={"Destination Movement ID": "DestinationMovementID"})
df = df.rename(columns={"Range - Lower Bound Travel Time (Seconds)": "RangeLowerBoundTravelTimeSeconds"})
df = df.rename(columns={"Range - Upper Bound Travel Time (Seconds)": "RangeUpperBoundTravelTimeSeconds"})


# Deleting columns that are not helpful for the analysis
df.drop('Origin Display Name', axis=1, inplace=True)
df.drop('Destination Display Name', axis=1, inplace=True)


# Set Date as the index
df.set_index(df['Date'], inplace=True)


# Create a 'DayofWeek' column
df['DayOfWeek'] = df['Date'].dt.day_name()
df.head(548)


# Drop the "Date" column since now, Date is the index
df.drop(['Date'], axis=1, inplace=True)

# Visualize head of final formatted df
df.head()

,NumericIndex,OriginMovementID,DestinationMovementID,MeanTravelTimeSeconds,RangeLowerBoundTravelTimeSeconds,RangeUpperBoundTravelTimeSeconds,DayOfWeek
Date,,,,,,,
2016-01-02,1092025,573,982,970,709,1325,Saturday
2016-01-02,1091680,573,318,1201,966,1492,Saturday
2016-01-02,1091681,573,319,1525,1141,2037,Saturday
2016-01-02,1091682,573,320,1116,824,1511,Saturday
2016-01-02,1091683,573,321,1075,853,1354,Saturday

Lastly, save the formatted df into a new csv which will be used for analysis.

In [18]:
# Save formatted df into a csv file
formatted_df = df.to_csv('formatted_london.csv')